body{
display:flex;
justify-content:center; 
align-items:center; 
}
.parent{
    margin: auto;
    width: 25vw;
    height: 25vw;
    display: flex;
    position: absolute;
    top:calc(50% - 12.5vw);
}
p{
    width: 10px;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform-origin: bottom center;
    font-size: 50px;
    font-family: monospace;
}