body{
display:flex;
justify-content:center; 
align-items:center; 
background-color: #dc94f4;
overflow:hidden;
}
.circle{
    width:3vw;
    height:3vw;
    background-color: rebeccapurple;
    border-radius: 500px;
    z-index: 1000;
}
.circle:hover{
    background-color: rgb(89, 44, 134);
}
.circle:active{
    background-color: rgb(76, 37, 115);
}
.parent{
    margin: auto;
    display: flex;
    justify-content:center; 
align-items:center;    
    position: absolute;
    transform: scale(0.55);
    border-radius:500%;
    cursor:pointer;

}
.parent:hover{
    text-decoration: underline;
}
.container{
width:100vw;
height:100vh;
display:flex;
justify-content:center; 
align-items:center; 
}
.win{
    display:none;
    font-size:25vw;
    z-index:-100;
    opacity:25%;
    color:rebeccapurple;
    position: absolute;
}
.para, p{
    color:black;
    position: absolute;
    margin: auto;
    font-size: 70px;
    font-family: monospace;
    user-select: none;
    cursor:pointer;
}
